.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.Redirects {
  margin-top: 15px;
  border: 1px solid #ddd;
  color: #99a3ba;
  border-radius: 6px;
  font-size: 15px;
  overflow: hidden;
}

.Redirects > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Redirects > * {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.Redirects span {
  background-color: white !important;
  padding: 5px;
  flex: 1;
}
.Redirects a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  flex: 5;
}

.Redirects > * span:first-child {
  max-width: 45px;
}

.form {
  display: block;
  width: 100%;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: #99a3ba;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.form input::-webkit-input-placeholder {
  color: #cbd1dc;
}
.form input::-moz-placeholder {
  color: #cbd1dc;
}
.form input:-ms-input-placeholder {
  color: #cbd1dc;
}
.form input::-ms-input-placeholder {
  color: #cbd1dc;
}
.form input::placeholder {
  color: #cbd1dc;
}
.form input:focus {
  outline: none;
  border-color: #275efe;
}

.form {
  position: relative;
  font-size: 18px;
  display: -webkit-box;
  display: flex;
  width: 100%;
}
.form > span,
.form input {
  border: none;
  white-space: nowrap;
  display: block;
}
.form > span:not(:first-child):not(:last-child),
.form input:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.form > span:first-child,
.form input:first-child {
  border-radius: 6px 0 0 6px;
}
.form > span:last-child,
.form input:last-child {
  border-radius: 0 6px 6px 0;
}
.form > span:not(:first-child),
.form input:not(:first-child) {
  margin-left: -1px;
}
.form input {
  font-size: 15px;
  padding: 5px;
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}
.form > span, .Redirects span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #222;
  background: rgb(248, 248, 248);
  border: #cdd9ed;
  -webkit-transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  cursor: default;
}
.form > span:last-child {
  cursor: pointer;
}
.form:focus > span {
  color: #275efe;
  background: #678efe;
  border-color: #275efe;
}
.form span[type="submit"]:hover{
  background: #ddd;
}

.Error {
  background: #ddd;
  margin-top: 10px;
}

.Error > * {
  padding: 5px;
}
